.btnStartList{
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0;
    border-radius: 0;
    -webkit-transition-duration: 0.4s;
}

.btnStartList:hover {
    background-color: rgba(107, 180, 106, 0.7);
    color : #5d5d5d;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnMediumList{
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0;
    border-radius: 0;
    -webkit-transition-duration: 0.4s;
}

.btnMediumList:hover {
    background-color: rgba(88, 173, 180, 0.7);
    color : #5d5d5d;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnEndList{
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0;
    border-radius: 0;
    -webkit-transition-duration: 0.4s;
}

.btnEndList:hover {
    background-color: rgba(180, 114, 108, 0.7);
    color : #5d5d5d;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnMediumDisable {
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.6);
    color: rgba(180, 29, 29, 0.7);
    border: 0;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color:rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,  rgba(255, 255, 255, .4) 25%,  transparent 25%,  transparent 50%,  rgba(255, 255, 255, .4) 50%,  rgba(255, 255, 255, .4) 75%,  transparent 75%,  transparent);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}